<%- include('header') -%>
    <div class="row">
        <div class="d-flex justify-content-center">
            <img src="https://img.freepik.com/free-vector/women-professions-female-characters-occupation_107791-13330.jpg?w=996&t=st=1695889948~exp=1695890548~hmac=91d91cedcb773ba08f1e53b403eb4489c78b1ecc27ee4e01fe970de433224c6f"
                alt="">

        </div>
        <div class="d-flex justify-content-center">
            <h1>Pilih Pekerja Profesional yang anda inginkan</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h5>anda bisa memilih pekerja profesional dengan kriteria yang anda inginkan <br>
                pekerja dengan kemampuan yang luar biasa</h5>
        </div>

    </div>

    <%- include('footer') -%>